.contenedor i{
    font-size: 20px;
    background-color: #0DCAF0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card{
    border-color: #ffffff;
background-color: #17A2B8;
color: #ffffff;
}

.img-card img{
    object-fit: cover;
    height: 200px;
}

.btn-color-custom {
    background-color: #17A2B8;
    color: #ffffff;
 }

 footer {
    background-color: #17A2B8;
 }

 footer i{
    font-size: 25px;
    padding-left: 10px;
 }

 footer p{
    font-size: 20px;
 }

 tooltip-bg{
    background-color: #0DCAF0;
 }