.contenedor i{
    font-size: 20px;
    background-color: #0DCAF0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card{
border:none;
background-color: #17A2B8;
color: #ffffff;
}

.btn-color-custom {
    background-color: #17A2B8;
    color: #ffffff;
 }

 footer {
    background-color: #17A2B8;
 }